## LAB - S07-L007 - opcje polecenia merge

1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Do zmiennej suppliers zaimportuj zawartość pliku suppliers.csv. Pobierz tylko kolumny SupplierID, CompanyName, City
3. Do zmiennej products zaimportuj zawartość pliku products.csv". Pobierz tylko kolumny ProductID, ProductName, SupplierID**
4. W kolejnych zadaniach będziesz łączyć ze sobą suppliers i products, a do połączenia wykorzystasz kolumnę SupplierID. Kolumna ta może delikatnie zmienić nazwę lub stać się indeksem. W zależności od tego musisz w odpowiedni sposób zmieniać parametry i wybierać odpowiednie polecenia:
5. Do data frame suppliers dołącz dane z products (tak jak to opisano powyżej)
6. W suppliers zdefiniuj SupplierID jako indeks (pamiętaj o parametrze inplace). Następnie do data frame suppliers dołącz dane z products
7. W products zdefiniuj SupplierID jako indeks (pamiętaj o parametrze inplace). Następnie do data frame suppliers dołącz dane z products
8. W suppliers zresetuj indeks (pamiętaj o parametrze inplace). Następnie do data frame suppliers dołącz dane z products
9. W products zresetuj indeks (pamiętaj o parametrze inplace), a potem zmień nazwę kolumny SupplierID na supplier_id. Następnie do data frame suppliers dołącz dane z products

In [4]:
import pandas as pd
import numpy as np

In [5]:
suppliers = pd.read_csv('../zasoby/nw/suppliers.csv', usecols=['SupplierID', 'CompanyName', 'City'])

In [7]:
products = pd.read_csv('../zasoby/nw/products.csv', usecols=['ProductID', 'ProductName', 'SupplierID'])

In [8]:
suppliers.merge(right=products, on='SupplierID', how='inner')

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
1,1,Exotic Liquids,London,2,Chang
2,1,Exotic Liquids,London,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...
72,27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
73,28,Gai pâturage,Annecy,59,Raclette Courdavault
74,28,Gai pâturage,Annecy,60,Camembert Pierrot
75,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
76,29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [9]:
suppliers.set_index(keys='SupplierID', inplace=True)

In [10]:
suppliers.merge(right=products, how='inner', left_index=True, right_on='SupplierID')

,CompanyName,City,ProductID,ProductName,SupplierID
0,Exotic Liquids,London,1,Chai,1
1,Exotic Liquids,London,2,Chang,1
2,Exotic Liquids,London,3,Aniseed Syrup,1
3,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning,2
4,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix,2
...,...,...,...,...,...
57,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne,27
58,Gai pâturage,Annecy,59,Raclette Courdavault,28
59,Gai pâturage,Annecy,60,Camembert Pierrot,28
60,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable,29
61,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre,29

In [11]:
products.set_index(keys='SupplierID', inplace=True)

In [12]:
suppliers.merge(right=products, how='inner', left_index=True, right_index=True)

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1,Chai
1,Exotic Liquids,London,2,Chang
1,Exotic Liquids,London,3,Aniseed Syrup
2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...
27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
28,Gai pâturage,Annecy,59,Raclette Courdavault
28,Gai pâturage,Annecy,60,Camembert Pierrot
29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [13]:
suppliers.reset_index(inplace=True)

In [14]:
suppliers.merge(right=products, how='inner', left_on='SupplierID', right_index=True)

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
0,1,Exotic Liquids,London,2,Chang
0,1,Exotic Liquids,London,3,Aniseed Syrup
1,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
1,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...
26,27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
27,28,Gai pâturage,Annecy,59,Raclette Courdavault
27,28,Gai pâturage,Annecy,60,Camembert Pierrot
28,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
28,29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [15]:
products.reset_index(inplace=True)

In [16]:
products.rename(columns={"SupplierID": "supplier_id"}, inplace=True)

In [17]:
suppliers.merge(right=products, how='inner', left_on='SupplierID', right_on='supplier_id')

,SupplierID,CompanyName,City,supplier_id,ProductID,ProductName
0,1,Exotic Liquids,London,1,1,Chai
1,1,Exotic Liquids,London,1,2,Chang
2,1,Exotic Liquids,London,1,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,2,4,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,2,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...,...
72,27,Escargots Nouveaux,Montceau,27,58,Escargots de Bourgogne
73,28,Gai pâturage,Annecy,28,59,Raclette Courdavault
74,28,Gai pâturage,Annecy,28,60,Camembert Pierrot
75,29,Forêts d'érables,Ste-Hyacinthe,29,61,Sirop d'érable
76,29,Forêts d'érables,Ste-Hyacinthe,29,62,Tarte au sucre