## LAB - S03-L012-LAB-Metody isin, isnull, notnull, between


1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej fuel wczytaj zawartośćpliku fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG(FT1)','Start Stop Technology'. Wyświetl nagłówek tak utworzonego Data Frame
2. Utwórz zmienną listOfCars typu lista i wpisz do niej napisy: 'Renault', 'Toyota','Ford'. Utwórz zmienną isInList i korzystając z metody pokazanej na lekcji przypisz do niej serię z wartościami True/False - True,jeżeli w kolumnie "Make" jest wartość z listy listOfCars, False - w przeciwnym razie. Wyświetl nagłówektej serii
3. Wyświetl z fuel, te samochody, które są na liście listOfCars. Wykorzystaj w tym celu zmienną isInList
4. Utwórz zmienną isNoStartStopDefined i korzystając z metody pokazanej na lekcji przypisz do niej serięz wartościami True/False - True, jeżeli w kolumnie "Start Stop Technology" jest wartość NaN, False - wprzeciwnym razie. Wyświetl nagłówek tej serii
5. Wyświetl z fuel te samochody, o których nie wiadomo czy mają system Start/Stop. Wykorzystaj w tymcelu zmienną isNoStartStopDefined
6. Utwórz zmienną isStartStopDefined i korzystając z metody pokazanej na lekcji przypisz do niej serię zwartościami True/False - True, jeżeli w kolumnie "Start Stop Technology" jest zdefiniowna jakaśwartość, False - w przeciwnym razie. Wyświetl nagłówek tej serii
7. Wyświetl z fuel te samochody, o których wiadomo czy mają system Start/Stop. Wykorzystaj w tym celuzmienną isStartStopDefined
8. Utwórz zmienną mpg50_60 i korzystając z metody pokazanej na lekcji przypisz do niej serię zwartościami True/False - True, jeżeli w kolumnie "Combined MPG (FT1)" jest wartość >=50 i <=60, False - w przeciwnym razie. Wyświetl nagłówek tej serii
9. Wyświetl z fuel te samochody, które na jednym galonie paliwa przejadą od 50-60 mil. Wykorzystaj w tymcelu zmienną mpg50_60
10. Korzystając ze zdefiniowanych wcześniej zmiennych wyświetl komunikat podobny do poniższego

#### There are 4376 cars within the list ['Renault', 'Toyota', 'Ford']
#### There are 31374 cars where Start/Stop technology is not determined
#### There are 310 cars where Start/Stop technology is determined
#### There are 13 cares with MPG value between 50 and 60

In [1]:
import pandas as pd
import numpy as np

In [7]:
fuel = pd.read_csv('../zasoby/fuel.csv', 
                   low_memory=False, 
                   usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)','Start Stop Technology'],
                   index_col='Vehicle ID'
                  )

In [8]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN

In [18]:
listOfCars = ['Renault', 'Toyota','Ford']
isInList = fuel['Make'].isin(listOfCars)

In [19]:
fuel[isInList]

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
27613,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN
27616,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
27619,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,10.0,NaN
27622,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
28472,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN
...,...,...,...,...,...,...,...
31786,2012,Ford,Taurus AWD,Large Cars,Regular,20.0,NaN
31784,2012,Ford,Taurus FWD,Large Cars,Regular,21.0,NaN
31785,2012,Ford,Taurus FWD,Large Cars,Regular,22.0,NaN
31458,2012,Ford,Transit Connect Van,Special Purpose Vehicle 2WD,Regular,23.0,NaN
31460,2012,Ford,Transit Connect Wagon FWD,Special Purpose Vehicle 2WD,Regular,23.0,NaN

In [20]:
isNoStartStopDefined = fuel['Start Stop Technology'].isnull()

In [21]:
fuel[isNoStartStopDefined].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN

In [22]:
isStartStopDefined = fuel['Start Stop Technology'].notnull()
fuel[isStartStopDefined].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
30977,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,28.0,N
30975,1998,Honda,EV Plus,Compact Cars,Electricity,48.0,N
30973,1999,Dodge,Caravan/Grand Caravan 2WD,Minivan - 2WD,Electricity,35.0,N
30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N

In [23]:
mpg50_60 = fuel['Combined MPG (FT1)'].between(50,60)

In [24]:
fuel[mpg50_60].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
30966,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
30967,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,56.0,N
15606,2000,Honda,Insight,Two Seaters,Regular,53.0,Y

In [29]:
print("There are {} cars within the list ['Renault', 'Toyota', 'Ford']".format(len(fuel[isInList])))
print("There are {} cars where Start/Stop technology is not determined".format(len(fuel[isNoStartStopDefined])))
print("There are {} cars where Start/Stop technology is determined".format(len(fuel[isStartStopDefined])))
print("There are {} cares with MPG value between 50 and 60".format(len(fuel[mpg50_60])))

There are 4376 cars within the list ['Renault', 'Toyota', 'Ford']
There are 31374 cars where Start/Stop technology is not determined
There are 310 cars where Start/Stop technology is determined
There are 13 cares with MPG value between 50 and 60